<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.sirius.conml.dashboard.handler.OpenDashboard"
            commandId="org.eclipse.sirius.conml.dashboard.openDashboard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.sirius.conml.dashboard.openDashboard"
            name="%command.name">
         <commandParameter
               id="org.eclipse.sirius.conml.dashboard.openDashboard.param.model"
               name="project"
               optional="true"
               typeId="org.eclipse.sirius.conml.dashboard.openDashboard.param.modelType">
         </commandParameter>
      </command>
      <commandParameterType
            converter="org.eclipse.sirius.conml.dashboard.converter.ProjectConverter"
            id="org.eclipse.sirius.conml.dashboard.openDashboard.param.modelType"
            type="org.eclipse.core.resources.IProject">
      </commandParameterType>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.sirius.conml.dashboard.toolbar.openDashboard"
               label="%toolbar.label">
            <command
                  commandId="org.eclipse.sirius.conml.dashboard.openDashboard"
                  icon="icons/menu-overview.gif"
                  label="%command.label"
                  style="pulldown"
                  tooltip="%command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.eclipse.sirius.ui.tools.perspective.modeling">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.sirius.conml.dashboard.openDashboard">
         <dynamic
               class="org.eclipse.sirius.conml.dashboard.contribution.DashboardContributionItems"
               id="org.eclipse.sirius.conml.dashboard.dynamicDashboard">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.sirius.conml.dashboard.tester.ConMLViewpointEnablementTester"
            id="org.eclipse.sirius.conml.dashboard.ConMLViewpointEnabled"
            namespace="org.eclipse.sirius.conml.design"
            properties="ConMLViewpointEnabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.amalgam.explorer.activity.ui.pagesProvider">
      <Page
            class="org.eclipse.amalgam.explorer.activity.ui.api.editor.pages.BasicSessionActivityExplorerPage"
            id="org.eclipse.sirius.conml.dashboard.ConMLCorePage"
            imageOff="icons/LogoOff.PNG"
            imageOn="icons/LogoOn.png"
            index="1"
            tabName="Core"
            title="Project"
            viewer="true">
         <Description>
            Core ConML representations
         </Description>
         <Overview
               imageOff="icons/LogoOff.PNG"
               imageOn="icons/LogoOn.png">
            <Description>
               Core ConML representations
            </Description>
         </Overview>
         <Section
               expanded="true"
               filtering="true"
               id="org.eclipse.sirius.conml.dashboard.CoreSection"
               index="1"
               name="Core">
            <Description>
               Core ConML representations
            </Description>
            <Activity
                  class="org.eclipse.sirius.conml.dashboard.diagram.CreateClassDiagram"
                  id="org.eclipse.sirius.conml.dashboard.CreateClassDiagram"
                  image="icons/Class.gif"
                  index="1"
                  name="Create a new Class Diagram">
               <Description>
                  Creates a new ConML Class Diagram.
               </Description>
               <Predicate
                     class="org.eclipse.sirius.conml.dashboard.predicate.ConMLViewPointPredicate">
               </Predicate>
            </Activity>
            <Activity
                  class="org.eclipse.sirius.conml.dashboard.diagram.CreateObjectDiagram"
                  id="org.eclipse.sirius.conml.dashboard.CreateObjectDiagram"
                  image="icons/Object.gif"
                  index="2"
                  name="Create a new Object Diagram">
               <Description>
                  Creates a new ConML Object Diagram.
               </Description>
               <Predicate
                     class="org.eclipse.sirius.conml.dashboard.predicate.ConMLViewPointPredicate">
               </Predicate>
            </Activity>
         </Section>
         <Predicate
               class="org.eclipse.sirius.conml.dashboard.predicate.ConMLEditProjectPredicate">
         </Predicate>
      </Page>
      <Page
            class="org.eclipse.amalgam.explorer.activity.ui.api.editor.pages.BasicSessionActivityExplorerPage"
            id="org.eclipse.sirius.conml.dashboard.ConMLAdditionalPage"
            imageOff="icons/AdditionalOff.png"
            imageOn="icons/AdditionalOn.png"
            index="2"
            tabName="Additional"
            title="Additional"
            viewer="true">
         <Description>
            Additional representations
         </Description>
         <Overview
               imageOff="icons/AdditionalOff.png"
               imageOn="icons/AdditionalOn.png">
            <Description>
               Additional representations
            </Description>
         </Overview>
         <Section
               expanded="true"
               filtering="true"
               id="org.eclipse.sirius.conml.dashboard.Additional"
               index="1"
               name="Additional">
            <Description>
               Additional representations
            </Description>
            <Activity
                  class="org.eclipse.sirius.conml.dashboard.diagram.CreateEnumDiagram"
                  id="org.eclipse.sirius.conml.dashboard.CreateEnumDiagram"
                  image="icons/EnumeratedType.gif"
                  index="1"
                  name="Create a new Enum Diagram">
               <Description>
                  Creates a new ConML Enum Diagram.
               </Description>
               <Predicate
                     class="org.eclipse.sirius.conml.dashboard.predicate.ConMLViewPointPredicate">
               </Predicate>
            </Activity>
         </Section>
         <Predicate
               class="org.eclipse.sirius.conml.dashboard.predicate.ConMLEditProjectPredicate">
         </Predicate>
      </Page>
   </extension>
   <extension
         point="org.eclipse.sirius.sessionManagerListener">
      <listener
            class="org.eclipse.sirius.conml.dashboard.listener.DashboardSessionListener">
      </listener>
   </extension>
</plugin>
